@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white; /* Set your desired background color */
}

@keyframes moveLeftAndRight {
  50% {
    transform: translateX(0);
  }
  0%, 100% {
    transform: translateX(3px);
  }
}

.animate-moveLeftAndRight {
  animation: moveLeftAndRight 0.5s infinite;
}

.custom-height {
  height: calc(100vh - 64px);
}